<h2 *ngIf="group">
  Expenses for {{ group.name }}
  <button (click)="goToAdd()" type="button" class="btn btn-info">
    📜 Add A Bill
  </button>
  <button (click)="goToReport()" type="button" class="btn btn-info">
    📊 Finance Report
  </button>
  <button (click)="goToGroup()" type="button" class="btn btn-info">
    ⏪ Back to Group
  </button>
</h2>
<div>
  <div class="p-2 border border-warning mb-3 alert alert-secondary">
    <form [formGroup]="filterForm">
      <div class="row align-items-center p-1">
        <div class="col">
          <label class="sr-only">Filter By</label>
          <select class="form-control form-select" formControlName="filterBy">
            <option selected value="">Select..</option>
            <option selected value="Title">Title</option>
            <option value="Paid By">Paid By</option>
          </select>
        </div>
        <div class="col">
          <label class="sr-only">Enter</label>
          <div class="input-group">
            <label class="visually-hidden" for="searchKey"> Filter Key </label>
            <input
              type="text"
              class="form-control"
              placeholder="Username"
              formControlName="searchKey"
            />
          </div>
        </div>
        <div class="col">
          <label class="sr-only">Category</label>
          <select class="form-control form-select" formControlName="category">
            <option value="" selected>Select..</option>
            <option value="Foods and Drinks">Foods and Drinks</option>
            <option value="Transportation">Transportation</option>
            <option value="Shopping">Shopping</option>
            <option value="Accomodation">Accomodation</option>
            <option value="Entertainment">Entertainment</option>
          </select>
        </div>
        <div class="col">
          <label class="sr-only">Date : From</label>
          <div class="input-group">
            <input
              type="date"
              class="form-control"
              formControlName="fromDate"
            />
          </div>
        </div>
        <div class="col">
          <label class="sr-only" for="inlineFormInputGroup">To</label>
          <div class="input-group">
            <input type="date" class="form-control" formControlName="toDate" />
          </div>
        </div>
        <div class="col">
          <button class="btn btn-info mt-3" (click)="onFilter()">
            🔎 Search
          </button>
          <button class="btn btn-info mt-3" (click)="onClear()">
            ✨ Clear
          </button>
        </div>
      </div>
    </form>
    <div class="row p-1" *ngIf="serachError.length > 0">
      <p class="text-danger" *ngFor="let err of serachError">
        <em>* {{ err }}.</em>
      </p>
    </div>
  </div>
  <div
    class="table-responsive"
    *ngIf="filteredBills.length > 0; else noTranasaction"
  >
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr class="table-warning">
          <th scope="col">Title</th>
          <th scope="col">Category</th>
          <th scope="col">Paid By</th>
          <th scope="col">Amount</th>
          <th scope="col">Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tr *ngFor="let t of filteredBills">
        <td>{{ t.title }}</td>
        <td>{{ t.category }}</td>
        <td>{{ t.paid_by_names.join(",") }}</td>

        <td class="text-align-center">
          {{ t.total_amount | number : "1.2-2" }}
        </td>
        <td>{{ t.date | date }}</td>
        <td>
          <button (click)="viewDetails(t._id)" class="btn btn-info">
            ⚙ View Details
          </button>
          <button (click)="deleteBill(t._id)" class="btn btn-info">
            ❌ Delete
          </button>
        </td>
        <!-- <td>
            <img
              src="{{ imgurl + t.receipt.filename }}"
              width="100"
              (click)="viewImage(imgurl + t.receipt.filename)"
            />
          </td> -->
      </tr>
    </table>
  </div>
</div>
<ng-template #noTranasaction>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr class="table-warning">
        <th scope="col">Title</th>
        <th scope="col">Category</th>
        <th scope="col">Paid By</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
        <th scope="col">Action</th>
      </tr>
      <tr>
        <td colspan="7">No Bills Found</td>
      </tr>
    </thead>
  </table>
</ng-template>
