<div class="wrapper">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first p-3">
      <h1><i class="bi bi-person-lock"></i> Register</h1>
    </div>

    <!-- Login Form -->
    <form [formGroup]="myForm">
      <label class="visually-hidden" for="fullname"> Full Name </label>
      <input
        type="text"
        class="fadeIn second"
        placeholder="full name"
        formControlName="fullname"
        />
        <label class="visually-hidden" for="email"> Email </label>
        <input
          type="text"
          class="fadeIn second"
          placeholder="email"
          formControlName="email"
          />
          <label class="visually-hidden" for="password"> Password </label>
          <input
            type="password"
            class="fadeIn third"
            placeholder="password"
            formControlName="password"
            />
            <input
              [disabled]="myForm.invalid"
              type="button"
              class="fadeIn fourth"
              value="Register"
              (click)="onRegister()"
              />
            </form>

            <!-- Form Error -->
            @if (fullname.invalid && (fullname.dirty || fullname.touched)) {
              <div
                class="alert alert-danger"
                >
                @if (fullname.errors?.['required']) {
                  <div>Full name is required</div>
                }
              </div>
            }
            @if (email.invalid && (email.dirty || email.touched)) {
              <div
                class="alert alert-danger"
                >
                @if (email.errors?.['required']) {
                  <div>Email is required</div>
                }
                @if (email.errors?.['email']) {
                  <div>Please enter a proper email</div>
                }
              </div>
            }
            @if (password.invalid && (password.dirty || password.touched)) {
              <div
                class="alert alert-danger"
                >
                @if (password.errors?.['required']) {
                  <div>Password is required</div>
                }
                @if (password.errors?.['minlength']) {
                  <div>
                    Password must be at least 6 characters
                  </div>
                }
              </div>
            }
          </div>
        </div>
